PORT=5000
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.xxxx.mongodb.net/restaurant_management?retryWrites=true&w=majority
JWT_SECRET=your_production_jwt_secret_here
NODE_ENV=production
# mongodb+srv://moeezahmad019_db_user:SWdU2BPE91pGxH3m@cluster0.q0mglfr.mongodb.net/?appName=Cluster0